services:
  ldap:
    image:          osixia/openldap:1.5.0
    container_name: ldap
    hostname:       ldap
    environment:
      LDAP_ORGANISATION:   "Octopus"
      LDAP_DOMAIN:         "comany.org"
      LDAP_ADMIN_PASSWORD: "admin"
    volumes:
      - ./ldif:/container/service/slapd/assets/config/bootstrap/ldif/custom
    ports:
      - "1389:389"   # LDAP
      - "1636:636"   # LDAPS
    command: --copy-service

  ldapadmin:
    image:          osixia/phpldapadmin:0.9.0
    container_name: ldapadmin
    hostname:       ldapadmin
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: ldap
      PHPLDAPADMIN_HTTPS:      "false"
    ports:
      - "9090:80"
    depends_on:
      - ldap
